body, html {
	margin: 0;
	padding: 0;
	background: blue;
}
section {
	width: 70%;
	height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.half {
	position: relative;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	display: flex;  
    justify-content: center;
    align-items: center;
}
.question {
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	position: relative;
	display: flex;
	text-align: center;
	color: white;
	
}
	@media (max-width: 551px) {
		.question {
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		position: relative;
		display: flex;
		text-align: center;
		color: white;
		
	}
}
.answers_container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: space-evenly;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.answer {
	width: 100px;
	height: 25px;
	text-align: center;
	margin: 5px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: black;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 20px black;
}
@media (min-width: 750px) {
		.question {
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
		font-size: 70px;
		position: relative;
		display: flex;
		text-align: center;
		color: white;
		}
		.answer {
		width: 150px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 5px;
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: black;
		background: white;
		border-radius: 3px;
		box-shadow: 0 0 20px black;
		
	}
}
.result {
	width: 100%;
	height: 100%;
	left: 50%;
	top: -50%;
	transform: translate(-50%, 50%);
	background: red;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: none;
	align-content: space-evenly;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.who_you_are {
	width: 100%;
	height: 35%;
	background: purple;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}
.recom {
	height: 65%;
	width: 33%;
	background: orange;
}
@media (max-width: 800px) {
	.recom {
	height: 33%;
	width: 100%;
	background: orange;
}
}
